#work-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background-color: #0f1922;
    position: relative;
    color: white;
    padding: 0px 50px;
}

#work-section #work-section-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#work-section #work-section-titles h1,
#work-section #work-section-titles h2 {
    margin: 0px;
    color: #019cbb;
}

#work-section #work-section-titles h1 {
    margin-top: 7px;
}

#work-section .carousel-root {
    width: 100%;
}

.carousel .control-next.control-arrow::before {
    border-left: 8px solid #fff;
}

.carousel .control-next.control-arrow:hover ::before {
    border-left: 8px solid #019cbb;
}

#work-section .slide {
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 13px;
}

#work-section .slide div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 40px;
}

#work-section .slide p {
    display: none;
    width: 500px;
    text-align: start;
    margin-top: 60px;
    font-size: 16px;
}

#work-section .carousel-root:hover .slide {
    height: 300px;
}

#work-section .carousel-root:hover .slide p {
    display: block;
    animation: fade_in_show 0.3s ease-in;
}

@keyframes fade_in_show {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}

#work-section .carousel-root:hover .slide>div div {
    padding: 0;
}

#work-section .slide h2,
#work-section .slide h1 {
    margin: 0px;
}

#work-section .slide h2 {
    font-size: 16px;
}

#work-section .slide h1 {
    margin-top: 5px;
    font-size: 35px;
    font-weight: bold;
}

#work-section .slide>div div {
    display: flex;
    flex-direction: revert;
    align-items: flex-start;
    padding: 0px;
    padding-top: 25px;
}

#work-section .slide>div div a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
    margin-top: 19px;
}
#work-section .slide>div div a:hover{
    text-decoration: underline;
}
#work-section .slide>div hr {
    width: 80vw;
    margin: 17px 0px;
    border: 1px solid #019cbb;
}